<div class="footer">
  <div class="container">
      <div class="first">
          <h4>Copmany Name</h4>

          <p>
            <img src="https://cdn3.iconfinder.com/data/icons/social-media-2068/64/_shopping-512.png"
            width="100px" height="50px">Worldwide Ecommerce.
          </p>
      </div>
      <div class="second">
        <br>
          <h4>HELP</h4>
          <ul class="list">
              <li> Shipping Information</li>
              <li> Returns & Exchange</li>
              <li> Terms & Conditions</li>
              <li> Privacy Policy</li>
          </ul>
      </div>
      <div class="third">
        <br>
          <h4>HAVE A QUESTION</h4>
          <p>
              15 Novermber St. Tamilnadu, Chennai</p>
          <p>+044 3232 4242</p>
          <p>info@email.com
          </p>
      </div>
  </div>
  <div class="copyright">
      <p>Copyright ©2020 All rights reserved | Created By BarathKumar Gunasekaran</p>
      <br>
  </div>
</div>

